/**
 * @description 编辑页样式
 * @author ShiLin
 * @date 2020/5/4 9:37 下午
 */

.edit {
  /* :global {
    .ant-switch{
      .ant-switch-inner {
        margin-right: 6px;
        margin-left: 24px;
      }
    }
    .ant-switch-checked {
      .ant-switch-inner {
        margin: 0 24px 0 6px;
      }
    }
  } */

  padding: 20px 0;
  background-color: white;

  .uploadListInline .ant-upload-list-item {
    float: left;
    width: 200px;
    margin-right: 8px;
  }

  [class*='-upload-list-rtl'] .ant-upload-list-item {
    float: right;
  }
  .uploadListInline .ant-upload-animate-enter {
    animation-name: uploadAnimateInlineIn;
  }
  .uploadListInline .ant-upload-animate-leave {
    animation-name: uploadAnimateInlineOut;
  }
}
